################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xmlFactory/obj
/xmlFactory/bin/Debug
/.vs
/xmlFactory/bin/Release
